* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(140deg, blue, aquamarine, blue);
  min-height: 100vh;
  color: white;
  font-family: 'Roboto';
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}

.navbar-container {
  margin: 8px 10px;
  border: 1px solid white;
  border-radius: 11px;
}

.desktop-main {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%
  color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

  .desktop-main ul {
    display: flex;
    gap: 50px;
  }

.mobile-main {
  display: none;
}

.site-body {
  margin: 0px 10px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 11px;
  padding: 20px 20px;
}

@media screen and (max-width: 900px) {
  .desktop-main {
    display: none;
  }

  .mobile-main {
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }

  .mobile-main ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

    .closed-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px 20px;
      gap: 5px;
    }

      .line-icon {
        width: 20px;
        height: 2px;
        background-color: white;
      }

    .opened-menu {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px 20px;
      gap: 20px;
    }

        .close-up {
          display: flex;
          flex-direction: column;
          margin-left: -5px;
          height: 30px;
          width: 30px;
          position: relative;
        }

        .angled-line-icon-1 {
          width: 30px;
          height: 2px;
          background-color: black;
          transform: rotate(-45deg);
          margin-bottom: -3px;
          position: absolute;
          top: 10px;
        }

        .angled-line-icon-2 {
          width: 30px;
          height: 2px;
          background-color: black;
          transform: rotate(45deg);
          position: absolute;
          top: 10px;
        }

    .hidden {
      display: none;
    }
}
